# Exploratory Data Analysis

In [5]:
import pandas as pd

In [2]:
# Change directory
%cd /Users/denis/Documents/Projects/geneshot/geneshot-benchmark

/Users/denis/Documents/Projects/geneshot/geneshot-benchmark

In [3]:
# Get infiles
autorif_file = './rawdata.dir/autorif_overlap.tsv'
generif_file = './rawdata.dir/generif_overlap.tsv'
list_file = './rawdata.dir/list_off_co.tsv'

In [6]:
# Read data
autorif_dataframe = pd.read_table(autorif_file)
print(autorif_dataframe.shape)
autorif_dataframe.head()

(11086, 11087)

,Unnamed: 0,1300017J02RIK,1700013H16RIK,1700093K21RIK,2010109I03RIK,2410089E03RIK,2610528A11RIK,2700046G09RIK,2810006K23RIK,2900011O08RIK,...,ZSCAN18,ZSCAN31,ZSCAN4,ZSCAN4D,ZSCAN5B,ZSWIM2,ZSWIM6,ZUP1,ZW10,ZYX
0,1300017J02RIK,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1700013H16RIK,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1700093K21RIK,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010109I03RIK,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2410089E03RIK,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
autorif_dataframe = autorif_dataframe.rename(columns={'Unnamed: 0': 'gene_symbol'})
autorif_dataframe.head()

,gene_symbol,1300017J02RIK,1700013H16RIK,1700093K21RIK,2010109I03RIK,2410089E03RIK,2610528A11RIK,2700046G09RIK,2810006K23RIK,2900011O08RIK,...,ZSCAN18,ZSCAN31,ZSCAN4,ZSCAN4D,ZSCAN5B,ZSWIM2,ZSWIM6,ZUP1,ZW10,ZYX
0,1300017J02RIK,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1700013H16RIK,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1700093K21RIK,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010109I03RIK,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2410089E03RIK,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
autorif_dataframe.to_feather('rawdata.dir/autorif_overlap.feather')

In [10]:
a = pd.read_feather('rawdata.dir/autorif_overlap.feather')

/Users/denis/anaconda3/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [11]:
df = pd.read_table(generif_file)
df.head()

,Unnamed: 0,1190002N15RIK,1300017J02RIK,1700003E16RIK,1700013H16RIK,1700020D05RIK,1700024G13RIK,1700093K21RIK,1810009J06RIK,2010109I03RIK,...,ZSCAN31,ZSCAN4,ZSCAN4D,ZSCAN5B,ZSWIM2,ZSWIM6,ZUP1,ZW10,ZYX,ZZEF1
1190002N15RIK,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1300017J02RIK,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1700003E16RIK,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1700013H16RIK,0,0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1700020D05RIK,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df['ZYX'].sum()

1355

In [12]:
df = df.rename_axis('gene_symbol')

In [14]:
df.reset_index().to_feather('rawdata.dir/generif_overlap.feather')

In [15]:
a = pd.read_table(list_file)
a.head()

,Unnamed: 0,A1BGAS1,A1CF,A2M,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,AACS,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZZEF1,ZZZ3
0,A1BGAS1,821,51,81,35,16,27,77,20,73,...,24,27,52,33,29,24,61,44,43,26
1,A1CF,51,2776,347,106,43,57,151,164,231,...,65,125,160,51,73,69,146,131,159,122
2,A2M,81,347,8431,243,91,112,591,144,380,...,178,390,660,120,166,118,219,223,234,198
3,A2ML1,35,106,243,2677,41,46,222,85,201,...,71,141,249,54,44,63,134,59,69,69
4,A2MP1,16,43,91,41,324,12,34,25,27,...,4,7,11,5,8,2,7,9,16,4

In [ ]:
a.max

In [17]:
a.shape

(23568, 23569)

In [18]:
a.rename(columns={'Unnamed: 0': 'gene_symbol'}).to_feather('rawdata.dir/list_off_co.feather')